body{
    text-align: center;
    background-color: black;
    color:white;
    font-family: monospace;
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#ultrahud{
    height:25%
}
.subDivider{
    border: dashed;
    color:white
}
.row {
     display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
flex: 33.33%;
padding: 5px;
}

.bigHeader{
    font-size: 30pt;
}