h1,h2,h3,h4,h5,h6{
    font-family: "DotGothic16";
}
a{
    letter-spacing: 3px;
}
button{
    border-color: red;
}

.border-indigo{
    border-color:#6610f2;
}
.border-red{
    border-color:red;
}
.border-yellow{
    border-color: yellow;
}

.border-comfig{
    border-color: #009688;
}

.text-indigo{
    color:#6610f2;
}
.text-yellow{
    color:yellow;
}
.text-comfig{
    color: #009688;
}
.text-red{
    color:red;
}

.img-fluid-half{
    width: 50%;
    height:auto;
}


