h1,h2,h3,h4,h5,h6,p{
    font-family: "VCR OSD Mono";
}

p{
    font-size: 30px;
}

.edgy{
    letter-spacing: 5px;
}

a{
    letter-spacing: 3px;
}

button{
    border-color: red;
}

.border-indigo{
    border-color:#6610f2;
}
.border-red{
    border-color:red;
}
.border-yellow{
    border-color: yellow;
}

.border-comfig{
    border-color: #009688;
}
.border-kofi{
    border-color: #f26a2c;
}

.text-indigo{
    color:#6610f2;
}
.text-yellow{
    color:yellow;
}
.text-comfig{
    color: #009688;
}
.text-kofi{
    color: #f26a2c;
}
.text-red{
    color:red;
}
.text-black{
    color:black;
}

.img-fluid-half{
    width: 50%;
    height:auto;
}

html{
    background-color: black ;
}

@font-face{
    font-family: "VCR OSD Mono";
    src:url(fonts/vcr_osd_mono_1.001.ttf);
}
@font-face{
    font-family: "Determination Mono";
    src:url(fonts/DTM-Mono.otf);
}

.determined{
    font-family: "Determination Mono";
}

.terminal{
    border: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    margin: 7px;
}

.header{
    text-indent: 7px;
}

.header.center{
    text-indent:0px;
}

.font-vcr{
    font-family: "VCR OSD Mono";
}

.header-page{
    font-size: 150px;
    text-align:right;
    margin-right: 22px;
    float:right;
}
